<div class="control-section">
  <ejs-treegrid
    #grid
    height="600"
    [allowSorting]="true"
    [sortSettings]="sortSettings"
    [allowFiltering]="true"
    [filterSettings]="filterSettings"
    [dataSource]="treeData"
    childMapping='children'
    [allowMultiSorting]="allowMultiSorting"
    [allowReordering]="true"
    [allowResizing]="true"
    [allowSelection]="allowSelection"
    (contextmenu)="setSelectedColumn($event)"
    (rowSelected)="setSelectedRow($event)"
    (resizeStop)="resizeStop($event)"
    (actionComplete)="actionComplete($event)"
    [treeColumnIndex]='0'
    (rowDeselected)="deselectRow($event)"
    [selectionSettings]="selectionSetting"
    [allowRowDragAndDrop]="true"
    [rowDropSettings]='rowDrop'
  >

    <e-columns *ngIf="columnsConfig">
      <e-column *ngFor="let column of tableColumns"
                [field]='column'
                [freeze]="columnsConfig[column].frozen"
                [visible]="columnsConfig[column].visible"
                [headerText]="columnsConfig[column].displayName"
                [width]="columnsConfig[column].width"
                [textAlign]="columnsConfig[column].style.alignment"
                [minWidth]="columnsConfig[column].style.minColumnWidth"
                [customAttributes]="{style:{
                      'color':columnsConfig[column].style.fontColor,
                      'background-color':columnsConfig[column].style.backgroundColor,
                      'font-size':columnsConfig[column].style.fontSize+'px',
                      'white-space': columnsConfig[column].style.textWrap ? 'break-spaces' : 'nowrap',
                      'overflow-wrap': columnsConfig[column].style.textWrap ? 'break-word' : 'unset'
                      }}"
      >

      </e-column>
    </e-columns>

  </ejs-treegrid>
</div>


<div>
  <ejs-contextmenu
    #headerContextmenu
    target='.e-gridheader'
    [items]='headerMenuItems'
    (beforeOpen)='beforeOpenHeaderMenu()'
    (select)='selectHeaderMenuItem($event)'
    (beforeItemRender)="itemRenderHeaderMenu($event)"
    (beforeClose)="beforeClose($event)"
  >
  </ejs-contextmenu>
</div>

<div>
  <ejs-contextmenu
    #rowContextMenu
    target='.e-content'
    [items]='rowMenuItems'
    (select)='selectRowMenuItem($event)'
    (beforeItemRender)="itemRenderRowMenu($event)"
    (beforeClose)="beforeClose($event)"
  ></ejs-contextmenu>
</div>

<ejs-dialog
  *ngIf="columnsConfig && selectedColumnId"
  [visible]="false"
  id='dialog'
  #ejDialog
  [header]='headerDialogAddEditName'
  [target]='targetElement'
  width='320px'
  [buttons]='addEditColButtons'
  height="500px"
  [showCloseIcon]="true"
>
  <input class="e-input" name="col-name" type="text" placeholder="Column Name"
         [(ngModel)]="columnConfigObj.displayName"/>
  <ejs-dropdownlist [dataSource]='dataTypeSource' (change)="setDataType($event)"
                    [value]="columnConfigObj.type"></ejs-dropdownlist>
  <input class="e-input" type="number" name="min-col-width" placeholder="Minimum Column Width"
         [(ngModel)]="columnConfigObj.style.minColumnWidth"/>
  <input class="e-input" type="number" name="font-size" placeholder="Font Size"
         [(ngModel)]="columnConfigObj.style.fontSize"/>
  <h4>Font Color</h4>
  <input ejs-colorpicker type="color" name="font-color" id="font-color"
         [(ngModel)]="columnConfigObj.style.fontColor"/>
  <h4>Background Color</h4>
  <input ejs-colorpicker type="color" name="background-color" id="background-color"
         [(ngModel)]="columnConfigObj.style.backgroundColor"/>
  <ejs-dropdownlist [dataSource]='alignmentSource'
                    [value]="columnConfigObj.style.alignment" (change)="setAlignment($event)"></ejs-dropdownlist>
  <ejs-checkbox label="Text Wrap" (change)="setTextWrap($event)"
                [checked]="columnConfigObj.style.textWrap"></ejs-checkbox>
</ejs-dialog>

<ejs-dialog
  [visible]="false"
  id='col-delete-dialog'
  #colDeleteConfirmation
  [header]="'Delete Confirmation'"
  [target]="targetElement"
  width='420px'
  height="140px"
  [buttons]='colDeleteConfirmationButtons'
  [showCloseIcon]="true"
>
  <ng-template #content>
    <span>Are you sure you want to permanently delete this column ?</span>
  </ng-template>

</ejs-dialog>

<ejs-dialog
  [visible]="false"
  id='row-delete-dialog'
  #rowDeleteConfirmation
  [header]="'Delete Confirmation'"
  [target]="targetElement"
  width='420px'
  height="140px"
  [buttons]='rowDeleteConfirmationButtons'
  [showCloseIcon]="true"
>
  <ng-template #content>
    <span>Are you sure you want to permanently delete this row ?</span>
  </ng-template>

</ejs-dialog>
<ejs-dialog
  [visible]="false"
  id='choose-col-dialog'
  #chooseColDialog
  [header]="'Choose Columns to show'"
  [target]='targetElement'
  width='320px'
  height="420px"
  [showCloseIcon]="true"
>
  <div style="padding: 30px">
    <ejs-checkbox style="margin: 14px;width: 100%" *ngFor="let col of tableColumns" [label]="col"
                  (change)="changeColVisibility($event,col)" [checked]="columnsConfig[col].visible"></ejs-checkbox>
  </div>
</ejs-dialog>

<ejs-dialog
  [visible]="false"
  id='edit-row-dialog'
  #editRowDialog
  [header]="'Edit Row'"
  [target]='targetElement'
  width='320px'
  height="520px"
  [buttons]='editRowDialogButtons'
  [showCloseIcon]="true"
>
  <div style="padding: 0px">
    <span *ngFor="let col of tableColumns">
      <container-element [ngSwitch]="columnsConfig[col].column.type" >
        <span *ngSwitchCase="'Text'" >
          <input style="margin-bottom: 16px" class="e-input" type="text" [name]="col" [id]="col" [(ngModel)]="editRowBody[col]" [placeholder]="col"/>
        </span>
        <span *ngSwitchCase="'Boolean'" >
         <ejs-checkbox  style="margin-bottom: 16px"[name]="col" [id]="col"  [label]="col" [(checked)]="editRowBody[col]"></ejs-checkbox>
        </span>
        <span *ngSwitchCase="'Num'">
          <input style="margin-bottom: 16px" class="e-input" type="number" [name]="col" [id]="col" [(ngModel)]="editRowBody[col]" [placeholder]="col"/>
        </span>
        <span *ngSwitchCase="'Date'">
<!--           <ejs-datepicker [value]="date" [format]="format"></ejs-datepicker>-->
        </span>
        <span *ngSwitchCase="'DropDownList'">
            <ejs-dropdownlist style="margin-bottom: 16px" [placeholder]="col" [name]="col" [id]="col" [dataSource]='columnsConfig[col].column.options' [(ngModel)]="editRowBody[col]"></ejs-dropdownlist>
        </span>
      </container-element>
    </span>

  </div>
</ejs-dialog>
